<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855532900480-cna0ubmspvicj2gn55cl8o1m0o0ikqug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855532900480-cna0ubmspvicj2gn55cl8o1m0o0ikqug</string>
	<key>API_KEY</key>
	<string>AIzaSyDGF1I_5Raz_1mlCjUqNXpSQUKgXhydWuk</string>
	<key>GCM_SENDER_ID</key>
	<string>855532900480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-e8b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-e8b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855532900480:ios:64688dd19b63e69bbc9665</string>
</dict>
</plist>